.side-link {
    color: #1f2a44 !important;
    background-color: transparent !important;
}
.sidebar a {
    background-color: transparent !important;
}

.sidebar a:hover{
    text-decoration: underline;
}
.is-active{
    text-decoration: underline;
}

input, textarea, select {
    background-color: transparent !important;
    border: 1px solid #b3b3b3 !important;
    color:#1f2a44 !important;
}